<style>
    .notification{
        position: absolute;
        width: 85%;
    }
.notification-row{
    margin-left: 0;
    padding: 15px;
}
.notification-close-icon{
    position: absolute;
    right: 15px;
}
</style>
<div class="notification">
  <div class="card">
    <div class="row notification-row">
      <div class="notification-content">
        Some message
      </div>
      <img src="images/close.svg" alt="" class="notification-close-icon" />
    </div>
  </div>
</div>
