<div class="notification">
  <div class="card" id="notification-card">
    <div class="row notification-row">
      <div class="notification-content">
        Some message
      </div>  
      <button class="btn notification-close-icon" onclick="hideNotification()">
        <img src="images/close.svg" alt="" />
      </button>    
      
    </div>
  </div>
</div>
<script>
  
</script>
