<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn">&times;</a>
  <!-- <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a> -->
  <div class="profile-image-div">
    <img src="images/user.svg" alt="" class="profile-image" />
  </div>
  <button class="btn upload-button">
    <img src="images/upload.svg" alt="" class="upload-icon" />
    Upload
  </button>
  
  <div class="sidebar-content">
    <hr />
    <a href="#">Home</a>
    <hr />
    <a href="#">About</a>
    <hr />
  </div>
  <div class="card sidenav-bottom-card">
    About
  </div>
</div>
