<script>
  function stopDefault(event) {
    event.preventDefault();
    event.stopPropagation();
  }
  function dragOver(label, text) {
    label.style.animationName = "dropbox";
    label.innerText = text;
  }
  function dragLeave(label) {
    debugger
    var len = label.style.length;
    for (var i = 0; i < len; i++) {
      label.style[label.style[i]] = "";
    }
    label.innerText = "Click to choose images or drag-n-drop them here";

  }
  function addFilesAndSubmit(event) {
    debugger
    var files = event.target.files || event.dataTransfer.files;
    document.getElementById("filesfld").files = files;
    submitFilesForm(document.getElementById("filesfrm"));

  }
  function submitFilesForm(form) {
    $("#uploadModal").modal("hide");
    if (form.filesfld.files.length === 0) {
      showWarning();
      return false;
    }
    var label = document.getElementById("fileslbl");
    dragOver(label, "Uploading images..."); // set the drop zone text and styling
    var fd = new FormData();
    for (var i = 0; i < form.filesfld.files.length; i++) {
      var field = form.filesfld;
      fd.append(field.name, field.files[i], field.files[i].name);
    }
    var progress = document.getElementById("progress");
    var x = new XMLHttpRequest();
    if (x.upload) {
      $(".progress").show();
      x.upload.addEventListener("progress", function(event) {
        var percentage = parseInt((event.loaded / event.total) * 100);
        progress.innerText = progress.style.width = percentage + "%";
      });
    }
    x.onreadystatechange = function() {
      if (x.readyState == 4) {

        progress.innerText = progress.style.width = "";
        form.filesfld.value = "";
        dragLeave(label); // this will reset the text and styling of the drop zone
        if (x.status == 200) {

          let imageArr = JSON.parse(x.responseText);
          console.log(imageArr)
          debugger
          $(".progress").fadeOut(800);
          showSuccess();
          for (let file in imageArr) {
            debugger
            let displayText = file + " (" + imageArr[file].length + ")";
            let dateRow = document.getElementById(file);
            if(!dateRow){
              let outerDiv =
                      '<div class="card date-row" id="'+file+'">' +
                      displayText +
                      '</div><div class="row image-row"></div>';
              $(".image-container").append(outerDiv);
            }else {
              let text = parseInt(dateRow.innerText.replace("(","").replace(")","").split(" ")[1]);
              text = file+ " (" + (imageArr[file].length+text).toString() + ")"
              $("#"+file).text(text)
            }

            for (let i = 0; i < imageArr[file].length; i++) {
              let ele =
                '<div class="col-md-3"><div class="image-card"><a href="' +
                imageArr[file][i].file1.replace('uploads/','') +
                '"data-toggle="lightbox" data-gallery="gallery" class="col-md-4 image-a"> <img src="' +
                imageArr[file][i].file3.replace('uploads/','') +
                '"class="img-fluid rounded images"/></a></div></div>';
              $(".image-row").append(ele);
            }
          }
        } else {
          // failed -
          showError();
        }
      }
    };
    x.open("post", form.action, true);
    x.send(fd);

    return false;
  }
  function showSuccess() {
    $(".notification").show();
    $(".notification-content").text("Images uploaded successfully");
    $("#notification-card").css({ "background-color": "#d4ffd1" });
    $(".notification").fadeOut(4000);
  }
  function showError() {
    $(".notification").show();
    $("#notification-card").css({ "background-color": "#f5aeab" });
    $(".notification-content").text(
      "Couldnot upload image. Please try again later"
    );
    $(".notification").fadeOut(4000);
  }
  function showWarning() {
    $(".notification").show();
    $("#notification-card").css({ "background-color": "#fffbab" });
    $(".notification-content").text("No file selected");
    $(".notification").fadeOut(4000);
  }

  function fileSelected(e) {
    let files = document.getElementById("filesfld").files
    let names = '';
    for(let file of files){
      names += file.name + " "
    }
    $(".filename-card").text(names)
  }
</script>
<div class="modal fade" id="uploadModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div> -->
      <form
        id="filesfrm"
        action="/testUp"
        method="post"
        onsubmit="return submitFilesForm(this);"
      >
        <div class="modal-body">
          <input
            type="file"
            name="filesfld"
            id="filesfld"
            accept="image/*"
            onchange="fileSelected(event)"
            multiple
          />
          <label
            for="filesfld"
            id="fileslbl"
            ondragover="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
            ondragenter="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
            ondragleave="stopDefault(event);dragLeave(this);"
            ondrop="stopDefault(event);dragLeave(this);"
            >Click to choose images or drag-n-drop them here</label
          >
          <div class="card filename-card">

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              onclick="submitFilesForm(this.form)"
            >
              Upload
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
