<script>
  function stopDefault(event) {
    event.preventDefault();
    event.stopPropagation();
  }
  function dragOver(label, text) {
    label.style.animationName = "dropbox";
    label.innerText = text;
  }
  function dragLeave(label) {
    var len = label.style.length;
    for (var i = 0; i < len; i++) {
      label.style[label.style[i]] = "";
    }
    label.innerText = "Click to choose images or drag-n-drop them here";
  }
  function addFilesAndSubmit(event) {
    
    var files = event.target.files || event.dataTransfer.files;
    document.getElementById("filesfld").files = files;
    submitFilesForm(document.getElementById("filesfrm"));
  }
  function submitFilesForm(form) {
    
    $("#uploadModal").modal("hide")
    if (form.filesfld.files.length === 0){
      showWarning()
      return false
    }
    var label = document.getElementById("fileslbl");
    dragOver(label, "Uploading images..."); // set the drop zone text and styling
    var fd = new FormData();
    for (var i = 0; i < form.filesfld.files.length; i++) {
      var field = form.filesfld;
      fd.append(field.name, field.files[i], field.files[i].name);
    }
    var progress = document.getElementById("progress");
    var x = new XMLHttpRequest();
    if (x.upload) {
      $(".progress").show()
      x.upload.addEventListener("progress", function(event) {
        var percentage = parseInt((event.loaded / event.total) * 100);
        progress.innerText = progress.style.width = percentage + "%";
      });
    }
    x.onreadystatechange = function() {
      if (x.readyState == 4) {
        progress.innerText = progress.style.width = "";
        form.filesfld.value = "";
        dragLeave(label); // this will reset the text and styling of the drop zone
        if (x.status == 200) {
          console.log(x.responseText);
          $(".progress").fadeOut(800);
          showSuccess()
          // var images = JSON.parse(x.responseText);
          // for(var i = 0; i < images.length; i++) {
          //     var img = document.createElement("img");
          //     img.src = images[i];
          //     document.body.appendChild(img);
          // }
        } else {
          // failed - TODO: Add code to handle server errors
          showError()
        }
      }
    };
    x.open("post", form.action, true);
    x.send(fd);

    
    return false;
  }
  function showSuccess(){
      $(".notification").show()
      $(".notification-content").text("Images uploaded successfully");
      $("#notification-card").css({"background-color":"#d4ffd1"})
      $(".notification").fadeOut(4000)
    }
    function showError(){
      $(".notification").show()
      $("#notification-card").css({"background-color":"#f5aeab"})
      $(".notification-content").text("Couldnot upload image. Please try again later");
      $(".notification").fadeOut(4000)
    }
    function showWarning(){
      $(".notification").show()
      $("#notification-card").css({"background-color":"#fffbab"})
      $(".notification-content").text("No file selected");
      $(".notification").fadeOut(4000)
    }
</script>
<div class="modal fade" id="uploadModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div> -->
      <form
        id="filesfrm"
        action="/test"
        method="post"
        onsubmit="return submitFilesForm(this);"
      >
        <div class="modal-body">
          <input
            type="file"
            name="filesfld"
            id="filesfld"
            accept="image/*"
            multiple
          />
          <label
            for="filesfld"
            id="fileslbl"
            ondragover="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
            ondragenter="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
            ondragleave="stopDefault(event);dragLeave(this);"
            ondrop="stopDefault(event);dragLeave(this);"
            >Click to choose images or drag-n-drop them here</label
          >

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              onclick="submitFilesForm(this.form)"
            >
              Upload
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
