
<div class="modal fade" id="uploadModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div> -->
      <form
        id="filesfrm"
        method="post"
        onsubmit="return submitFilesForm(this);"
      >
        <div class="modal-body">
          <input
            type="file"
            name="filesfld"
            id="filesfld"
            accept="image/*"
            onchange="fileSelected(event)"
            multiple
          />
          <label
            for="filesfld"
            id="fileslbl"
            ondragover="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
            ondragenter="stopDefault(event);dragOver(this, 'Drop the images to upload them.');"
            ondragleave="stopDefault(event);dragLeave(this);"
            ondrop="stopDefault(event);dragLeave(this);addFilesAndSubmit(event);"
            >Click to choose images or drag-n-drop them here</label
          >
          <div class="card filename-card"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary upload-btn">
              Upload
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
