<%- include('partials/sidenav')%>

<%- include('partials/upload-modal')%>

<div class="footer">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
    </div>
</div>
