<%- include('partials/notification')%> <%- include('partials/sidenav')%> <%-
include('partials/upload-modal')%>

<script src="js/modals.js"></script>
<link rel="stylesheet" href="css/modals.css" />

<style>
  .row {
    margin: 15px;
  }
  .image-card {
    position: relative;
    height: 200px;
    width: 100%;
    display: block;
    margin: 1rem 0.3rem;
  }
  .image-a {
    padding: 0;
  }
  .images:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

    -webkit-box-shadow: 0px 0px 8px 0px black;
    -moz-box-shadow: 0px 0px 8px 0px black;
    box-shadow: 0px 0px 8px 0px black;
  }
  .image-caption-col {
    text-align: center;
  }
</style>

<div class="container image-container">
  <script></script>
</div>
<div class="no-image-container">
  <img
    src="images/no-image.jpg"
    style="
    max-width: none;
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
"
  />
</div>

<div class="footer" style="
    position: fixed;
    bottom: 23px;
    left: 2%;
    z-index: 10;
    width: 95%;
">
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      id="progress"
      style="height: 1rem"
    ></div>
  </div>
</div>
<script>
  $(document).ready(function() {
    let imageArr = JSON.parse(`<%- data.Images%>`);
    $(document).on("click", '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();

      let className = $(this).attr('class').split(" ")[2].replace("_class","")
      
      let timeStamp = imageLookup($(this).attr("href"), className)
      $(".modal-footer").css({ display: "block" });
      $(".image-modal-footer").append(
        '<div class="row"><div class="col-md-6 image-caption-col">' +
          timeStamp[1] +
          '</div><div class="col-md-6 image-caption-col">' +
          timeStamp[0] +
          "</div></div>"
      );
    });

    if (Object.keys(imageArr).length > 0) {
      for (let file in imageArr) {
        let displayText = file + " (" + imageArr[file].length + ")";
        let outerDiv =
          '<div class="card date-row" id="'+file+'">' +
          displayText +
          '</div><div class="row image-row ' +
          file +
          '"></div>';
        $(".image-container").append(outerDiv);
        for (let i = 0; i < imageArr[file].length; i++) {
          let ele =
            '<div class="col-md-3"><div class="image-card"><a href="' +
            imageArr[file][i].file1 +
            '"data-toggle="lightbox" data-gallery="gallery" class="col-md-4 image-a '+file+'_class"> <img src="' +
            imageArr[file][i].file3 +
            '"class="img-fluid rounded images"/></a></div></div>';
          $("." + file).append(ele);
        }
      }
      if (imageArr.length == 0) {
        $(".image-container").hide();
      } else {
        $(".no-image-container").hide();
      }
    } else {
      $(".no-image-container").show();
    }
    function imageLookup(url, className){

      let found = ["", ""]
      imageArr[className].forEach(ele=>{
        if(ele.file1 === url){
          found = [new Date(ele.timestamp).toDateString(), ele.name]
        }
      })
      return found
      
    }
  });
</script>
