<%- include('partials/notification')%>

<%- include('partials/sidenav')%>

<%- include('partials/upload-modal')%>

<div class="footer">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress"></div>
    </div>
</div>

