

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
/>

<style>
  .row {
    margin: 15px;
  }
  .image-card{
      position: relative;
      height: 240px;
      width: 240px;
      display: block;
      margin: 1.3rem

  }
  .image-a{
      padding: 0;
  }
</style>
<!-- <div class="container">  -->
  <div class="row">
    <%let images = JSON.parse(data.Images);for(let image of images){%>
    <div class="image-card">
      <a
        href="<%= image.file1%>"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-4 image-a"
      >
        <img src="<%= image.file3%>" class="img-fluid rounded" style="
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        object-fit: cover;
    "/>
      </a>
    </div>

    <%}%>
  </div>

  <script>
    $(document).on("click", '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>
<!-- </div>  -->
