<!DOCTYPE html>
<%- include('partials/header')%>
<body>

<!-- Wrapper -->
<div id="container-fluid">
<%- body %>
<!-- body end -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->



<script>
  $(function(){

      /* Set the width of the side navigation to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      $("#openNav").click(function(){
        openNav()
      })
      $(".closebtn").click(function(){
        closeNav()
      })
      
      // openNav()
  })
    

</script>
</body>
</html>