<form action="/upload" method="POST"  enctype="multipart/form-data">
    <label for="files">Select files:</label>
    <input type="file" id="files" name="productImage" multiple><br><br>
    <input type="submit">
  </form>